@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Estilos para el modo claro */
:root {
    --background-color:rgb(243, 244, 246);
    --text-color: #000;
  }
   
  /* Estilos para el modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: rgb(17, 24, 39);
      --text-color: #fff;
  }
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: var(--background-image);
  }

  html {
    background-image: var(--background-image);
  }